# [Sourse of tasks](https://www.theguardian.com/sport/2016/aug/05/rio-2016-big-olympics-quiz-games)

In [1]:
import pandas as pd

In [2]:
olympics = pd.read_csv('olympics.csv', skiprows = 4)
olympics.head(1)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold

# Additional questions
## #1. Which athlete has won the most gold Olympic medals?

In [3]:
olympics[olympics.Medal == 'Gold'].groupby('Athlete').size().sort_values(ascending = False)[:1]

Athlete
PHELPS, Michael    14
dtype: int64

## #5. Which of these countries has not hosted the summer Olympics?

In [4]:
hosts = pd.read_csv('list-host-cities-olympic-943j.csv')
hosts.head(1)

,City,Country,Continent,Summer (Olympiad),Winter,Year,Opening Ceremony,Closing Ceremony
0,Athens,Greece,Europe,I,-,1896.0,April 6,April 15

In [5]:
#dropping unnecessary for analysis columns
hosts = hosts[['City','Country']]
hosts.head(1)

     City Country
0  Athens  Greece

In [6]:
#add host country to dataset
olympics = olympics.set_index('City').join(hosts.set_index('City'))
olympics.rename(columns={"Country": "Host"}, inplace = True)
olympics.reset_index(inplace = True)
olympics.head(1)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal,Host
0,Amsterdam,1928,Aquatics,Diving,"GALITZEN, Michael Riley",USA,Men,10m platform,M,Bronze,Netherlands

In [7]:
necessary_countries = {'Finland', 'Mexico', 'India', 'Belgium'}

In [8]:
necessary_countries.difference(set(olympics.Host))

{'India', 'Mexico'}

**_The original dataset (olympics.csv) contains data only until 2008 year of Olympic games. Yet, the test on the website is expected to analyse all years of Olympics. So I carried out another analytics (hosts.csv) for complex analysis throughout all games_**

In [9]:
necessary_countries.difference(set(hosts.Country))

{'India'}